.todo_main_container {
    display: flex;
    flex-direction: column;
    gap: var(--todo-gap); 
    padding: 10%;
    background-color: var(--todo-bg-color);
}

.todo_input {
    width: 100%;
    display: flex;
    gap: var(--input-gap);
}

.todo_input input {
    width: 100%;
    border-radius: var(--border-radius);
}

.todo_filter {
    display: flex;
    gap: var(--filter-gap);
    border-radius: var(--border-radius);
}

.todo_filter button {
    flex: 1;
    border-radius: var(--border-radius);
}

.todo_container {
    display: flex;
    align-items: center;
    border: 2px solid var(--todo-container-border-color);
    padding: var(--todo-container-padding);
    border-radius: var(--border-radius);
    background-color: var(--todo-container-bg-color);
}

.todo_name {
    flex: 1;
    text-align: center;
}

.filter_message {
    text-align: center;
}

button {
    height: var(--button-height); 
    border-radius: var(--border-radius);
}

.addtask_btn {
    white-space: nowrap;
}

.checkbox {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
}
